.home-container {
  width: 900px;
  margin: auto;
  margin-top: 30px;
}
.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.content-group {
  width: 50%;
}
.square-img {
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid #56B2BB;
  margin: auto;
}
.top-img {
  background-image: url(https://images.unsplash.com/photo-1694878981789-130374dde465?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.bottom-img {
  background-image: url(https://images.unsplash.com/photo-1640620473096-6b20279d4fab?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}