.home-container {
  width: 900px;
  margin: auto;
  margin-top: 30px;
}
.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.content-group {
  width: 50%;
}
.content-text {
  padding: 0 40px;
}

.square-img {
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid #56B2BB;
  margin: auto;
}
.top-img {
  background-image: url(`/public/twitterapp.jpg`);
}
.bottom-img {
  background-image: url(`twitter-showcase/public/twitterpillow.jpg`);
}
.app-title {
  margin-bottom: 30px; 
}
span {
  color: #56B2BB;
}
