.main-container {
  width: 900px;
  margin: auto;
  color: #f0f4f8;
}
.nav-bar {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f4f8;
  border: 2px #f0f4f8 solid;
  margin: 0 15px;
  margin-bottom: 10px;
  height: 56px;
  width: 56px;
  border-radius: 100%;
}

.link {
  color: #f0f4f8;
  text-decoration: "none";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: #56B2BB;
}